<div class="container">

  <h1>Voici la liste de tous les acteurs disponibles</h1>

  <div class="cards">
    <% @pets.each do |pet| %>
      <div class="card-category">
        <%= link_to pet.name, pet_path(pet) %>
        <%= pet.price_per_day %> <p>" € / jour" </p>
      </div>
    <% end %>
  </div>
</div>
