<div class="container">

  <h1>Voici la liste de tous les acteurs disponibles</h1>

  <div class="card-trip">
    <% @pets.each do |pet| %>

       <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill, class:"card-img" %>


      <div class="card-trip-infos">
        <div>
          <h2><%= link_to pet.name, pet_path(pet) %></h2>
        </div>
        <h2 class="card-trip-pricing"><%= pet.price_per_day %> € / jour</h2>
        <img src="" alt="Avatar image" class="card-trip-user avatar-bordered" />
      </div>
    <% end %>
  </div>
</div>
