<div class="container">
  <h1>Voici la liste de tous les acteurs disponibles</h1>

    <% @pets.each do |pet| %>
    <div class="cards">
      <div class="card-category">
        <%= cl_image_tag pet.photo.key, height: 600, width: 400, crop: :fill %>
        <h2> <%= pet.name %> <%= pet.price_per_day %> € / jour</h2>
      </div>
    <% end %>
  </div>

</div>



