<div class="background">
  <div class="container">
    <h1 class="title">Rent a pet</h1>
    <p class="content">Vous n'êtes pas sportif et n'avez pas d'animaux domestiques? Pas de problème,
        les sociétés de cinema vous louent les acteurs et les déguisements qui vont avec pour pourvoir sortir faire une petite ballade d'une heure !</p>
    <button type="button" class="btn btn-outline-primary button-home">Primary</button>

  </div>
</div>
