<div class="background">
  <div class="container center">
    <h1 class="title">Rent a pet</h1>
    <p class="content">Vous n'êtes pas sportif et n'avez pas d'animaux domestiques? Pas de problème,
        les sociétés de cinema vous louent les acteurs et les déguisements qui vont avec pour pourvoir sortir faire une petite ballade d'une heure !*</p>
    <%= link_to "Entrez", pets_path, class:"btn btn-outline-primary button-home"%>
    <p class="beware">* L'acteur ne peut être loué moins d'une journée.<br>Il sera à votre disposition pour faire le ménage, la cuisine ou garder les enfants.</p>
  </div>
</div>

