<div class="background">
  <div class="container center">
    <h1 class="title">Rent a pet</h1>
    <p class="content">Vous vous sentez seul pendant le confinemment ? N'attendez pas louez une mascotte pour la journée</p>
    <%= link_to "Louez", pets_path, class:"btn  button-home active"%>
  </div>
<!--   <p class="beware">* L'acteur ne peut être loué moins d'une journée.<br>Il sera à votre disposition pour faire le ménage, la cuisine ou garder les enfants.</p>
 --></div>

