.titre {
  text-align: center;
}

.titre:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.card-product {
  overflow: hidden;
  height: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {

  height: 100%;
  width: 400px;
  object-fit: contain;

}
.name{
  font-size: 50px;
  font-weight: bold;
}

.card-product p {
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 8px;
  font-size: 16px;
  p {
    font-size: 16px;
  }
  .prix {
    font-size: 18px;
  }
  .ast {
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
  padding-top: 40px
}

}
.place{
  margin-top: 30px;
}

.informations {
  margin-top: 35px;
  padding-left: 20px;
}

.resa {
  margin-left: 550px;
  margin-top: 30px;
  font-weight: bold;
  border-radius: 5px;
}

.accept {
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.decline {
  font-weight: bold;
  border-radius: 5px;
}
