// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

@import "devise";

@import "card_show";
// @import "card_index";
@import "card_product";
@import "card_trip";
@import "reservations";
@import "footer";
@import "map"
