.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon ul li a:hover {
  // text-decoration: underline;
  // background-color: grey;
  background-color: white;
  border: 1px solid #a46150;
  opacity: 0.5;
  border-radius:10px;
}

.colorred{
  color: red;
}
